<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ImgActorMe.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,2},{208,295}}</string>
                <key>offset</key>
                <string>{17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,55},{208,295}}</string>
                <key>sourceSize</key>
                <string>{330,407}</string>
            </dict>
            <key>ImgActorMeBeat.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,2},{278,295}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,56},{278,295}}</string>
                <key>sourceSize</key>
                <string>{330,407}</string>
            </dict>
            <key>ImgActorMeBeatHalf.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,367},{278,295}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,56},{278,295}}</string>
                <key>sourceSize</key>
                <string>{330,407}</string>
            </dict>
            <key>ImgActorMeBeatNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,393},{278,295}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,56},{278,295}}</string>
                <key>sourceSize</key>
                <string>{330,407}</string>
            </dict>
            <key>ImgActorMeDed.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,365},{208,295}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,56},{208,295}}</string>
                <key>sourceSize</key>
                <string>{330,407}</string>
            </dict>
            <key>ImgActorMeLit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{308,407}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{308,407}}</string>
                <key>sourceSize</key>
                <string>{330,407}</string>
            </dict>
            <key>ImgActorMeLit05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,411},{306,405}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,1},{306,405}}</string>
                <key>sourceSize</key>
                <string>{330,407}</string>
            </dict>
            <key>ImgActorOpp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{176,253}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,55},{176,253}}</string>
                <key>sourceSize</key>
                <string>{300,363}</string>
            </dict>
            <key>ImgActorOppBeat.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,647},{234,253}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,55},{234,253}}</string>
                <key>sourceSize</key>
                <string>{300,363}</string>
            </dict>
            <key>ImgActorOppBeatHalf.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,662},{234,253}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,55},{234,253}}</string>
                <key>sourceSize</key>
                <string>{300,363}</string>
            </dict>
            <key>ImgActorOppBeatNormal.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,673},{234,253}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,55},{234,253}}</string>
                <key>sourceSize</key>
                <string>{300,363}</string>
            </dict>
            <key>ImgActorOppDed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,393},{176,253}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,55},{176,253}}</string>
                <key>sourceSize</key>
                <string>{300,363}</string>
            </dict>
            <key>ImgActorOppLit.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{286,363}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{286,363}}</string>
                <key>sourceSize</key>
                <string>{300,363}</string>
            </dict>
            <key>ImgActorOppLit05.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{284,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{284,361}}</string>
                <key>sourceSize</key>
                <string>{300,363}</string>
            </dict>
            <key>ImgArrow2xBroke.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,648},{199,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,68}}</string>
                <key>sourceSize</key>
                <string>{199,68}</string>
            </dict>
            <key>ImgArrow2xBrokeOpp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,299},{148,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,46}}</string>
                <key>sourceSize</key>
                <string>{148,46}</string>
            </dict>
            <key>ImgArrow4xBroke.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,648},{199,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,68}}</string>
                <key>sourceSize</key>
                <string>{199,68}</string>
            </dict>
            <key>ImgArrow4xBrokeOpp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,849},{148,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,46}}</string>
                <key>sourceSize</key>
                <string>{148,46}</string>
            </dict>
            <key>ImgArrow8xBroke.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,347},{199,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,68}}</string>
                <key>sourceSize</key>
                <string>{199,68}</string>
            </dict>
            <key>ImgArrow8xBrokeOpp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,948},{148,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,45}}</string>
                <key>sourceSize</key>
                <string>{148,45}</string>
            </dict>
            <key>ImgArrowBroke.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,548},{199,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,68}}</string>
                <key>sourceSize</key>
                <string>{199,68}</string>
            </dict>
            <key>ImgArrowBrokeOpp.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,749},{148,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,45}}</string>
                <key>sourceSize</key>
                <string>{148,45}</string>
            </dict>
            <key>ImgBeatArrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,673},{214,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,49}}</string>
                <key>sourceSize</key>
                <string>{214,49}</string>
            </dict>
            <key>ImgBeatArrow2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,673},{214,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,49}}</string>
                <key>sourceSize</key>
                <string>{214,49}</string>
            </dict>
            <key>ImgBeatArrow4x.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,909},{214,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,49}}</string>
                <key>sourceSize</key>
                <string>{214,49}</string>
            </dict>
            <key>ImgBeatArrow8x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,897},{214,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,49}}</string>
                <key>sourceSize</key>
                <string>{214,49}</string>
            </dict>
            <key>ImgBeatArrowOpp.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,961},{185,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,38}}</string>
                <key>sourceSize</key>
                <string>{185,38}</string>
            </dict>
            <key>ImgBeatArrowOpp2x.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,961},{185,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,38}}</string>
                <key>sourceSize</key>
                <string>{185,38}</string>
            </dict>
            <key>ImgBeatArrowOpp4x.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,917},{185,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,38}}</string>
                <key>sourceSize</key>
                <string>{185,38}</string>
            </dict>
            <key>ImgBeatArrowOpp8x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,948},{185,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,38}}</string>
                <key>sourceSize</key>
                <string>{185,38}</string>
            </dict>
            <key>ShieldImgMe.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,299},{92,327}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,327}}</string>
                <key>sourceSize</key>
                <string>{92,327}</string>
            </dict>
            <key>ShieldImgOpp.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,883},{76,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,306}}</string>
                <key>sourceSize</key>
                <string>{76,306}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fullImg.png</string>
            <key>size</key>
            <string>{1376,1001}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4889832fa17a6731d31158d9f51fe1fd:18b2379bcf26db76b6c9362913f78206:d8b388254834e8f30da3762e17089bb3$</string>
            <key>textureFileName</key>
            <string>fullImg.png</string>
        </dict>
    </dict>
</plist>
